.about-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}
.about-container h6{
    text-align: center;
}
