*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-link{
    font-family: 'Franklin Gothic Medium',Arial, sans-serif;
}
.nav-link:hover{
    text-decoration: dashed;
}
.bt:hover{
    text-decoration: underline; 
}   



@media (max-width: 760px) {

  .nav-links {
    position: absolute;
    top: 60px;
    right: -100%;
    background: white;
    flex-direction: column;
    width: 250px;
    padding: 20px;
    gap: 15px;
    transition: right 0.3s ease;
  }

  .nav-links.active {
    right: 0;
  }

  .search-bar {
    width: 100%;
  }

  .icons {
    justify-content: flex-start;
  }
}
 
